.Container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.ListProject {
  text-align: center;
  color: white;
}
.Made {
  padding: 5px;
  margin: 40px;
  font-size: 60px;
}
.Pro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.thisProject {
  border: 5px solid rgb(251, 255, 0);
  transition: 1s;
}
.ProImg {
  display: block;
  width: 350px;
  height: 320px;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.thisProject:hover .ProImg {
  opacity: 0.3;
  transition: 0.7s;
}
.thisProject:hover .middle {
  opacity: 1;
}
.htag {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
